* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app-container {
    padding: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 20px blue;
    border-radius: 1rem;
    border: none;
    width: 60%;
    height: 60%;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    text-align: center;
}

#taskInput {
    width: 70%;
    max-width: 400px;
    padding: 12px 16px;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: lightblue;
    border: none;
    margin-bottom: 1rem;
}

#taskInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.85)
}
