* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    /* background: url(../images/time-1739625_1280.webp) center center cover no-repeat; */
}

.app-container {
    padding: 30px;
    border: 2px solid black;
    /* box-shadow: 5px 5px 20px blue; */
    box-shadow: 0 0 50px rgba(0,0,255,0.9);
    border-radius: 1rem;
    border: none;
    width: 60%;
    height: 60%;
    text-align: center;
}

.title {
    margin-bottom: 20px;
    text-align: center;
    /* background: linear-gradient(to top, #00f, #0f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

#taskInput {
    width: 70%;
    max-width: 400px;
    padding: 12px 1rem;
    border-radius: 1rem;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background: lightblue;
    border: none;
    margin-bottom: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#taskInput:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.85);
    background: rgb(35, 187, 238);
}

#taskDisplay {
    margin: 0.5rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background: linear-gradient(to right, #0f0, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#timer {
    font-size: 5rem;
    color: #f00;
    background: linear-gradient(to bottom, #00f, #0f0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.btn {
    padding: 10px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    border-radius: 1rem;
    border: none;
    background: lightblue;
}

.btn:hover {
    transform: translateY(-5px);
    cursor: pointer;
    background: rgb(35, 187, 238);
}


